<div class="container">

  <h1>Stupid Coaching</h1>

  <div class="you">
    <p>
      <%= @question %>
    </p>
    <p>
      <em>--You</em>
    </p>
  </div>

  <div class ="coach">
    <p>
      <strong><%= @answer %></strong>
    </p>
    <p><em>--Your coach</em></p>
  </div>

  <%= link_to 'Ask a new question', ask_path %>

</div>
