
<div class="container">
  <h1>Stupid Coaching</h1>

  <form action="answer">
    <p>Ask your coach anything:</p>
    <input type="text" name="question" id="question">
    <input class="btn" type="submit" value="Ask!">
  </form>
</div>